* {
  margin: 0;
}
:root {
  --bg-dark: #131921;
}

body {
  font-family: Roboto, "Segoe UI";
  background-color: rgb(234, 237, 237);
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
