.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  padding-top: 1.5em;
}

.layout img {
  width: 100px;
  margin-bottom: 1em;
}

.container {
  border: 1px solid lightgray;
  padding: 2em 2em 1.5em;
  border-radius: 4px;
  width: 300px;
}

.container > h2 {
  margin-bottom: 1em;
}

.container > small {
  display: block;
  margin: 1em auto;
  font-size: 0.73rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form label {
  margin-bottom: 4px;
  font-size: 0.7rem;
}

.form input {
  margin-bottom: 1em;
  padding: 0.4em;
}
