.checkoutTotal {
  background-color: #ddd;
  min-width: 350px;
  border-radius: 2px;
  border: 1px solid;
  border-color: rgb(202, 202, 202);
  padding: 1em;
}
.checkoutForm {
  padding: 0.5em;
}
.formControl {
  display: flex;
  align-items: center;
}
.formControl > input {
  margin-right: 10px;
}
.formControl > label {
  font-size: 0.9rem;
}
.checkoutForm > button {
  display: block;
  width: 80%;
  margin: 2.4em auto 0.1em;
  text-align: center;
  padding: 0.1em;
  background-color: #f0c14b;
  padding: 0.2em;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
