.product {
  display: flex;
  margin: 1em 0;
}
.product > img {
  width: 180px;
  height: 180px;
  object-fit: contain;
}

.info {
  padding: 1em 2em;
}
.productTitle {
  font-weight: 800;
}
.removeBtnContainer {
  margin-top: 3em;
  width: fit-content;
}
